In [1]:
import pandas as pd

The purpose of this notebook is to check that all 79 of the sequences submitted are present in the IRD download.

TODO:
* [ ] Turn this into a Python script for data checking.

In [2]:
ird_df = pd.read_csv('../data/20160411_Minto_Run2 Sequences.csv')# add last:, parse_dates=['Collection Date'])
ird_df['Strain Name'] = ird_df['Strain Name'].str.split('(').str[0]
ird_df['Host Species'] = ird_df['Host Species'].str.replace('IRD:', '').str.replace('/Avian', '')
ird_df.head()

,Segment,Protein Name,Sequence Accession,Complete Genome,Segment Length,Subtype,Collection Date,Host Species,Country,State/Province,Flu Season,Strain Name
0,5,NP,AB753218,Yes,1530,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
1,2,"PB1,PB1-F2,PB1-N40",AB753215,Yes,2309,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
2,4,HA,AB753217,Yes,1708,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
3,7,"M1,M2",AB753221,Yes,992,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
4,3,"PA,PA-N155,PA-N182,PA-X protein(+61)",AB753216,Yes,2200,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009

In [3]:
submitted_df = pd.read_csv('../data/Alaska_waterfowl_79viruses_metadata_20151223.csv')
submitted_df['Strain_name'].tail()

74    A/mallard/Interior Alaska/12ML00064/2012
75    A/mallard/Interior Alaska/12ML00076/2012
76    A/mallard/Interior Alaska/12ML00086/2012
77    A/mallard/Interior Alaska/12ML00098/2012
78    A/mallard/Interior Alaska/12ML00120/2012
Name: Strain_name, dtype: object

In [6]:
for r, d in submitted_df.iterrows():
#     print(d['Strain_name'])
    assert d['Strain_name'] in ird_df['Strain Name'].values