In [1]:
import pandas as pd

The purpose of this notebook is to check that all 79 of the sequences submitted are present in the IRD download.

TODO:
* [ ] Turn this into a Python script for data checking.

In [10]:
ird_df = pd.read_csv('../data/20160411_Minto_Run2 Sequences.csv', na_filter=False)# add last:, parse_dates=['Collection Date'])
ird_df['Strain Name'] = ird_df['Strain Name'].str.split('(').str[0]
ird_df['Host Species'] = ird_df['Host Species'].str.replace('IRD:', '').str.replace('/Avian', '')
ird_df.head(10)

,Segment,Protein Name,Sequence Accession,Complete Genome,Segment Length,Subtype,Collection Date,Host Species,Country,State/Province,Flu Season,Strain Name
0,5,NP,AB753218,Yes,1530,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
1,2,"PB1,PB1-F2,PB1-N40",AB753215,Yes,2309,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
2,4,HA,AB753217,Yes,1708,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
3,7,"M1,M2",AB753221,Yes,992,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
4,3,"PA,PA-N155,PA-N182,PA-X protein(+61)",AB753216,Yes,2200,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
5,1,PB2,AB753214,Yes,2309,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
6,8,"NS1,NS2",AB753220,Yes,855,H9N2,11/2009,African Stonechat,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
7,6,NA,AB753219,Yes,1420,H9N2,11/2009,Flycatcher,Viet Nam,-N/A-,-N/A-,A/African Stonechat/Vietnam/8/2009
8,8,"NS1,NS2",KU289742,Yes,865,H7N3,02/18/2010,American Black Duck,USA,Delaware,09-10,A/American black duck/Delaware/A00870108/2010
9,3,"PA,PA-N155,PA-N182,PA-X protein(+61)",KU289743,Yes,2208,H7N3,02/18/2010,American Black Duck,USA,Delaware,09-10,A/American black duck/Delaware/A00870108/2010

In [3]:
submitted_df = pd.read_csv('../data/Alaska_waterfowl_79viruses_metadata_20151223.csv')
submitted_df['Strain_name'].tail()

74    A/mallard/Interior Alaska/12ML00064/2012
75    A/mallard/Interior Alaska/12ML00076/2012
76    A/mallard/Interior Alaska/12ML00086/2012
77    A/mallard/Interior Alaska/12ML00098/2012
78    A/mallard/Interior Alaska/12ML00120/2012
Name: Strain_name, dtype: object

In [4]:
for r, d in submitted_df.iterrows():
#     print(d['Strain_name'])
    assert d['Strain_name'] in ird_df['Strain Name'].values

In [25]:
bad_strains = []
for r, d in ird_df.iterrows():
    strain_hostname = d['Strain Name'].split('/')[1].lower().replace('-', ' ')
    hostsp_hostname = d['Host Species'].lower().replace('-', ' ')
    try:
        cond1 = strain_hostname == hostsp_hostname
        cond2 = strain_hostname in hostsp_hostname
        cond3 = hostsp_hostname in strain_hostname
        assert cond1 or cond2 or cond3
    except AssertionError:
        data = dict()
        data['Strain Name'] = d['Strain Name']
        data['Host Species'] = d['Host Species']
        bad_strains.append(data)

In [31]:
pd.DataFrame(bad_strains).to_csv('data_checks/bad_strains.csv')
pd.DataFrame(bad_strains)

           Host Species                                      Strain Name
0            Flycatcher               A/African Stonechat/Vietnam/8/2009
1      Northern Pintail    A/American black duck/Newfoundland/GR679/2011
2       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
3       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
4       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
5       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
6       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
7       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
8       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
9       American Wigeon           A/American widgeon/Alaska/7MP1061/2007
10      American Wigeon        A/American widgeon/Interior Alaska/1/2007
11      American Wigeon        A/American widgeon/Interior Alaska/1/2007
12      American Wigeon        A/American widgeon/Interior Alaska/1/2007
13      American Wigeon        A/American widgeon/Interior Alaska/1/2007
14      American Wigeon        A/American widgeon/Interior Alaska/1/2007
15      American Wigeon        A/American widgeon/Interior Alaska/1/2007
16      American Wigeon        A/American widgeon/Interior Alaska/1/2007
17      American Wigeon        A/American widgeon/Interior Alaska/1/2007
18      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
19      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
20      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
21      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
22      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
23      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
24      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
25      American Wigeon  A/American widgeon/Interior Alaska/7MP1707/2007
26      American Wigeon     A/American widgeon/Mississippi/11OS6073/2011
27      American Wigeon     A/American widgeon/Mississippi/11OS6073/2011
28      American Wigeon     A/American widgeon/Mississippi/11OS6073/2011
29      American Wigeon     A/American widgeon/Mississippi/11OS6073/2011
..                  ...                                              ...
536            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
537            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
538            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
539            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
540            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
541            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
542            Shelduck           A/Tadorna tadorna/Belgium/3441-P3/2009
543           Waterfowl             A/water fowl/Nigeria/08RS848-66/2007
544           Waterfowl             A/water fowl/Nigeria/08RS848-66/2007
545  White-Rumped Munia         A/white-backed munia/Hong Kong/4519/2009
546  White-Rumped Munia         A/white-backed munia/Hong Kong/4519/2009
547  White-Rumped Munia          A/white-backed munia/Hong Kong/828/2007
548  White-Rumped Munia          A/white-backed munia/Hong Kong/828/2007
549           Kelp Gull                      A/wild bird/Chile/1805/2008
550           Kelp Gull                      A/wild bird/Chile/1805/2008
551           Kelp Gull                      A/wild bird/Chile/1805/2008
552           Kelp Gull                      A/wild bird/Chile/1805/2008
553           Kelp Gull                      A/wild bird/Chile/1805/2008
554           Kelp Gull                      A/wild bird/Chile/1805/2008
555           Kelp Gull                      A/wild bird/Chile/1805/2008
556           Kelp Gull                      A/wild bird/Chile/1805/2008
557           Sandpiper                          A/willet/Peru-CH49/2010
558              Parrot    A/yellow-headed Amazon/California/500658/2007
559              Parrot    A/yellow-headed Amazon/California/500658/2007
560              Parrot    A/yellow-headed Amazon/California/500658/2007
561              Parrot    A/yellow-headed Amazon/California/500658/2007
562              Parrot    A/yellow-headed Amazon/California/500658/2007
563              Parrot    A/yellow-headed Amazon/California/500658/2007
564              Parrot    A/yellow-headed Amazon/California/500658/2007
565              Parrot    A/yellow-headed Amazon/California/500658/2007

[566 rows x 2 columns]